<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="artleafgallery" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="artleafgallery" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="artleafgallery" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="artleafgallery" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Artleafgallery</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
	<link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/slider.css" rel="stylesheet">

	<script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
	<header>
	<div class="container">
		<div class="row">
			<div class="col-sm-5">
				<ul class="social_icons custom_ul">
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>          
					<li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
				</ul>
			</div>
			<div class="col-sm-4 norightpadding">
				<span class="search_container">
					<input type="text" name="search_text" placeholder="Search..."/>
					<i class="fa fa-search"></i>
				</span>
			</div>
			<div class="col-sm-3 noleftpadding">
				<ul class="custom_ul account_settings">
					 <li><a href="#"><i class="fa fa-user"></i> Login</a></li>
					 <li><a href="#"><i class="fa fa-sign-in"></i> Register</a></li>
					 <li><a href="#"><i class="fa fa-shopping-cart"></i> MyCart</a></li>
				</ul>
			</div>
		</div>
	</div>
		


	</header>
	<section ng-controller="ProductsController">
		<section class="menu_logo_section">
			<div class="container menu_logo_container clear_fix">
				<div class="row">
					<div class="col-sm-3 borderright">
						<img src="images/logo.png" class="leftmargin-xl"/>
					</div>
					<div class="col-sm-9">
						<ul class="custom_ul topmargin-lg nopadding">
							<li class="rightpadding-sm"> <a href="#"> Home</a></li>
							<li class="rightpadding-sm" ng-repeat="Product in menu_products">
								<a href="#"> {{Product.name}}</a>
							</li>
							<li class="rightpadding-sm"> <a href="#"> Frame</a></li>
							<li> <a href="#"> Contact Us</a></li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<div class="banner">
			<div class="container">
				<div class="row">
				<slider rotate="8000" describe="true"><!-- peaslider -->
					<div class="col-sm-1">
						<img src="images/button-previous.png" class="navigation_img" ng-click="sliderPrev();" />
					</div>
					<div class="col-sm-10">
						<slide-content class="banner_img">
							<img ng-src="" class="is-hidden-img current_slide"/>
							<pea-desc ng-bind="describe" class="is-hidden-img"></pea-desc>
						</slide-content>

						<slide-images>
							<slide-img ng-repeat="item in images" img-desc="{{item.descrition}}" img-src="{{item.path}}" repeat-end="onEnd();">
							</slide-img>
						</slide-images>						
					</div>
					<div class="col-sm-1">
						<img src="images/button-next.png" class="navigation_img" ng-click="sliderNext();"/>
					</div>
					</slider>
				</div>
			</div>
		</div>
		<div class="container welcome_text bottommargin-sm">
			<h1> Welcome to Artleaf </h1>
			<p class="topmargin-lg bottommargin-lg">{{company.welcome_text}}</p>
			<img src="images/cont_divider.png" />

		</div>
		<div class="container product_list">
		
			<div class="row bottommargin-sm" ng-repeat="slice in product_slice">
				<div class="col-sm-4" ng-repeat="product in slice">
					<div class="white-background bottompadding-xs">
						<div class="name_desc">
							<h1> {{product.name}} </h1>
							<p> {{product.description| limitTo: 100 }}{{product.description.length > 100 ? '...' : ''}} </p>
						</div>
						<img class="bottommargin-xs" src="{{product.homepage_list_icon}}" />
						<p align="right"> Read more ...<i class="fa fa-external-link"></i></p>
					</div>

				</div>
			</div>
		</div>
	</section>
	<footer ng-controller="ProductsController">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<img src="images/footer_logo.png">
				</div>
				<div class="col-xs-12 col-sm-4">
					<h4> Contact Us </h4>
					<p> Lorem Ipsum dolar site amet </p>
					<br> <br />
					<p> {{company.telephone}} </p>
					<p> {{company.email}} </p>
				</div>
				<div class="col-xs-12 col-sm-4">
					<h4> Quick Links </h4>
					<ul>
						<li> <i class="fa fa-chevron-right"></i> Home</li>
						<li ng-repeat="product in menu_products"> <i class="fa fa-chevron-right"></i> {{product.name}} </li>
						<li><i class="fa fa-chevron-right"></i> Frames</li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 copy_right">@copy; 2016 Artleaf All rights Reserved </div>
			</div>
		</div>
	</footer>


	<!-- In production use:
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
	-->
	<script src="bower_components/angular/angular.js"></script>
	<script src="bower_components/angular-route/angular-route.js"></script>
	<script src="app.js"></script>
	<script src="controllers.js"></script>
	<script src="directives.js"></script>
	<script src="components/version/version.js"></script>
	<script src="components/version/version-directive.js"></script>
	<script src="components/version/interpolate-filter.js"></script>
</body>
</html>
