<section ng-controller="ProductsController"> 
		<div class="container product_list">
			<h1 align="center"> {{product.name}} </h1>
		
			<div class="row bottommargin-sm" ng-repeat="slice in artImages_slice">
				<div class="col-sm-4" ng-repeat="artImage in slice">
					<div class="white-background bottompadding-xs">
						
						<img class="bottommargin-xs" src="{{artImage.image}}" />
						<div class="name_desc">
							<h1> {{artImage.story}} </h1>							
							<p> By {{artImage.artist.user.first_name}} </p>
							<p> <span>{{artImage.dimension}}</span> <span>{{artImage.price}}</span></p>
							<p> {{artImage.description}} <button>Add to Cart</button></p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>