<section ng-controller="ProductsController"> 
		<div class="container product_list">
			<h1 align="center"> {{product.name}} </h1>		
			<div class="row bottommargin-sm" loadmoredata>
				<div class="col-sm-4">
					<div class="white-background bottompadding-xs" ng-repeat="artImage in page.col1">						
						<img class="bottommargin-xs" ng-src="{{artImage.image}}" />
						<div class="name_desc">
							<h1> {{artImage.story}} </h1>							
							<p> By {{artImage.artist.user.first_name}} </p>
							<p> <span>{{artImage.dimension}}</span> <span>{{artImage.price}}</span></p>
							<p> {{artImage.description}} <button>Add to Cart</button></p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="white-background bottompadding-xs" ng-repeat="artImage in page.col2">				
						<img class="bottommargin-xs" ng-src="{{artImage.image}}" />
						<div class="name_desc">
							<h1> {{artImage.story}} </h1>							
							<p> By {{artImage.artist.user.first_name}} </p>
							<p> <span>{{artImage.dimension}}</span> <span>{{artImage.price}}</span></p>
							<p> {{artImage.description}} <button>Add to Cart</button></p>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="white-background bottompadding-xs" ng-repeat="artImage in page.col3">				
						<img class="bottommargin-xs" ng-src="{{artImage.image}}" />
						<div class="name_desc">
							<h1> {{artImage.story}} </h1>							
							<p> By {{artImage.artist.user.first_name}} </p>
							<p> <span>{{artImage.dimension}}</span> <span>{{artImage.price}}</span></p>
							<p> {{artImage.description}} <button>Add to Cart</button></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
